#base {
    width: 435px;
    height: 925px;
    background-color: black;
    border-radius: 25px;
    position: relative;
}

#AIBG {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    position: absolute;
    left: 116px;
    z-index: 1;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.colored {
    background: radial-gradient(circle, #F5F5DC 0%, black 70%);
}

.uncolored {
    background-color: white;
    box-shadow: 0px 0px 20px white;
}

.uppies {
    top: 0px;
}

.downies {
    top: 20px;
}

#AI_Assistant {
    width: 200px;
    position: relative;
    z-index: 2;
}