<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            PantryPal - Challenges
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body class="challenge-page">
        <center>
            <div id="base">
                <div id="AIBG"></div>
                <img id="AI_Assistant" class="Hover" alt="AI Assistant" width="200px">
                <div id="Points_section">
                    <img id="Points" src="{{ url_for('static', filename='other_assets/Cropped_Coin.gif') }}" alt="Points" class="Hover">
                    <p id="Points_Counter"></p>
                </div>
                <button id="Shop" class="Hover">
                    <img id="Shop_img" src="{{ url_for('static', filename='other_assets/Shopping_Cart.png') }}" alt="Shop">
                </button>
                <div id="Poppup_bg">
                    <div id="Poppup" class="lround">
                        <Button id="Close_Poppup" class="Hover">
                            <img id="Close_btn" src="{{ url_for('static', filename='other_assets/Back_BTN.svg') }}" alt="Close">
                        </Button>
                        <div id="Points_section_2">
                            <img id="Points_2" src="{{ url_for('static', filename='other_assets/Cropped_Coin.gif') }}" alt="Points" class="Hover">
                            <p id="Points_Counter_2"></p>
                        </div>
                        <div id="Skin_Shop"></div>
                    </div>
                </div>
                <h1 id="Challenge_Header">
                    Challenges
                </h1>
                <div id="Main">
                    <div id="Daily_Challenge" class="Hover">
                        <h1>
                            Daily Challenge
                        </h1>
                        <h2>
                            Bake a Cake
                        </h2>
                        <p>
                            1 hour
                        </p>
                        <p>
                            3,000 calories
                        </p>
                        <p>
                            +150 points
                        </p>
                        <img id="Cake" src="{{ url_for('static', filename='other_assets/Cake.png') }}" alt="Cake" width="225px">
                        <button id="Daily_Redeem" class="Hover" data-challenge="daily_cake">
                            Redeem
                        </button>
                    </div>
                    <div class="Challenge_Card Hover">
                        <h1>
                            Weekly Challenge
                        </h1>
                        <h2>
                            Cook a Stir Fry
                        </h2>
                        <p>
                            30 minutes
                        </p>
                        <p>
                            800 calories
                        </p>
                        <p>
                            +250 points
                        </p>
                        <button class="Card_Redeem Hover" data-challenge="weekly_stirfry">
                            Redeem
                        </button>
                    </div>
                    <div class="Challenge_Card Hover">
                        <h1>
                            Bonus Challenge
                        </h1>
                        <h2>
                            Make a Smoothie
                        </h2>
                        <p>
                            10 minutes
                        </p>
                        <p>
                            350 calories
                        </p>
                        <p>
                            +100 points
                        </p>
                        <button class="Card_Redeem Hover" data-challenge="bonus_smoothie">
                            Redeem
                        </button>
                    </div>
                    <div class="Challenge_Card Hover">
                        <h1>
                            Monthly Challenge
                        </h1>
                        <h2>
                            Host a Dinner
                        </h2>
                        <p>
                            3 hours
                        </p>
                        <p>
                            5,000 calories
                        </p>
                        <p>
                            +600 points
                        </p>
                        <button class="Card_Redeem Hover" data-challenge="monthly_dinner">
                            Redeem
                        </button>
                    </div>
                </div>
            </div>
        </center>
        <script src="{{ url_for('static', filename='Challenge_script.js')}}"></script>
        <script src="{{ url_for('static', filename='Overlap_script.js') }}"></script>
    </body>
</html>