<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            PantryPal
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <center>
            <div id="base">
                <div id="AIBG"></div>
                <img id="AI_Assistant" alt="AI Assistant" width="200px">
            </div>
        </center>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>